:root{
    --main-color: #245953;
    --light-main-color: #408E91;
    --pink: #E49393;
    --gray: #D8D8D8;
    --border-size:5px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background-color: var(--gray);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}
.jedidiah{
    width: 200px;
}
.jedidiah-pic{
    width: 500px;
}
.social {
  display: flex;
justify-content: flex-end;
padding: 40px;
}
.social a {
     margin-right: 10px;
     color: var(--gray);
     font-size: 40px;
}
.social a:hover{
    opacity: 0.9;
    color: var(--pink);
    transition: 0.4s;
}
.logo {
  cursor: pointer;
}
nav{
    display: flex;
}
nav a {
    padding: 10px;
    margin-right: 10px;
    color: var(--gray);
    padding-bottom: 40px;
}
nav a:hover{
    color: var(--pink);
    transition: 0.4s;
}
  /* Mobile Nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252A;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}
.overlay--active {
    width: 100%;
}
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
.overlay a:hover,
.overlay a:focus {
    color: #E49393;
    transition: 0.4s;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #EDF0F1;
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hero-container h1{
    color: var(--pink);
    font-size: 900%;
}
.portfoilo-img{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.por-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position:relative;
    cursor: pointer;
}
.project{
    margin: 15px;
    position: relative;
    border: var(--border-size) solid var(--pink);
    width: 500px;
}
.photo{
    width: 1040px;
}
.border{
    object-fit: cover;
    height: auto;
    width: 100%;
}
.project:hover{
    border-color: var(--pink);
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes flash_border {
    0% {
        border-color: var(--pink);
    }
    50%{
        border-color: var(--main-color);
        opacity: 100%;
    }
    100%{
        border-color: var(--pink);
    }
}
.img-fluid {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.photo img{
    width: 1030px;
}
.web img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sight{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/*About*/
.about{
    background-color: var(--light-main-color);
}
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: var(--pink);
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about .content ul strong {
    margin-right: 10px;
  }
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149DDD;
    line-height: 0;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
footer{
    padding: 30px 0;
    background-color: var(--main-color);
}
 .socialfoot{
    text-align: center;
    padding-bottom: 40px;
    color: var(--gray);
    font-size: 40px;
    padding-top: 40px;
}
footer .socialfoot a{
    display: inline-block;
    text-align: center;
    font-size: 50px;
    color: var(--gray);
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
footer .socialfoot a:hover{
    opacity: 0.9;
    color: var(--pink);
    transition: 0.4s;
}
footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.list{
    padding-bottom: 30px;
}
footer ul li a{
    color: var(--gray);
    text-decoration: none;
    opacity: 0.8;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer ul li a:hover{
    opacity: 1;
    color: var(--pink);
    transition: 0.4s;
}

/*contact*/
.contact-me{
    background-color: var(--light-main-color);
    padding: 25px 0px 20px 0px;
}
.title h1{
    color: var(--main-color);
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}
.form,
.form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.form-items{
    width: 50%;
}

.form-items .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 30px;
    color: var(--main-color);
}
  
  .form-items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}
  
.btn{
    background: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    color: var(--gray);
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 34%;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn:hover{
    color: var(--light-main-color);
    transition: 0.4s;
}
.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
  
.btn .fas{
    margin-left: 10px;
    font-size: 12px;
}
  
.form-items{
    position: relative;
}
  
.form-items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
}
/*end of contact*/


@media only screen and (max-width: 1200px) {
    .photo a img{
        width: 780px;
    }
    .web a img{
        width: 375px;
    }
    .border{
        object-fit: cover;
        height: auto;
        width: auto;
    }
    .project{
        width:385px;
    }
    .photo{
        width:790px;
    }
    /*portfoilio*/
    .portfoilo-img{
        display: flex;
        justify-content: center;
    }
    .hero-container h1{
        font-size: 500%;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 840px) {
    .portfoilo-img{
        display: flex;
        justify-content: center;
    }
    .photo a img{
        width: 530px;
    }
    .web a img{
        width: 250px;
    }
    .border{
        object-fit: cover;
        height: auto;
        width: auto;
    }
    .project{
        width:260px;
    }
    .photo{
        width:540px;
    }
    .hero-container h1{
        font-size: 300%;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 800px) {
    nav a {
        padding: 10px;
        margin-right: 10px;
        color: var(--gray);
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .portfoilo-img{
        display: flex;
        justify-content: center;
    }
    .photo a img{
        width: 155px;
    }
    .web a img{
        width: 62.5px;
    }
    .border{
        object-fit: cover;
        height: auto;
        width: auto;
    }
    .project{
        width: 72.5px;
    }
    .photo{
        width: 165px;
    }
    .jedidiah-pic{
        width: 200px;
    }
}




@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

@media only screen and (max-width: 400px) {

    .portfoilo-img{
        display: flex;
        justify-content: center;
    }
    .photo a img{
        width: 130px;
    }
    .web a img{
        width: 50px;
    }
    .border{
        object-fit: cover;
        height: auto;
        width: auto;
    }
    .project{
        width:60px;
    }
    .photo{
        width:140px;
    }
}


